#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "overleaf"
name = "Overleaf"
description.en = "Online real-time collaborative LaTeX editor"
description.fr = "Éditeur LaTeX collaboratif en ligne et en temps réel"

version = "2025.12.05~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-or-later"
website = "https://www.overleaf.com"
userdoc = "https://www.overleaf.com/learn"
code = "https://github.com/overleaf/overleaf"

[integration]
yunohost = ">= 12.1.15"
helpers_version = "2.1"
architectures = ["amd64"]
multi_instance = false

ldap = false

sso = false

disk = "50M"
ram.build = "3G"
ram.runtime = "3G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

    [install.admin]
    type = "user"

[resources]
    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/overleaf/overleaf/archive/7a57ef00cbcb73e6b91d964aec0eccbdfa646216.tar.gz"
    sha256 = "5dbca22e79661389eefcf0ff695e12af5f53449cbb681a92a63f589a22b94618"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]
    subdirs = [ "compiles", "output", "cache", "user_files", "template_files", "history" ]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    admin.url = "/launchpad"
    admin.allowed = "admins"
    admin.show_tile = false

    [resources.ports]
    main.default = 8095

    [resources.apt]
    packages = [
        # Overleaf dependencies
        "texlive", "texlive-xetex", "texlive-base", "texlive-font-utils", "redis-server", "latexmk", "python3-pygments", "build-essential",
        
       # Filestore dependencies
       "ghostscript", "imagemagick", "optipng", "iproute2",

       # clsi dependencies
       "poppler-utils",
    ]

    [resources.nodejs]
    version = "22.18"
