[Unit]
Description=__APP__ track-changes
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
EnvironmentFile=__FINALPATH__/variables.env
ExecStart=__YNH_NODE__ __FINALPATH__/live/services/track-changes/app.js
StandardOutput=append:/var/log/__APP__/track-changes.log
StandardError=inherit
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
