[Unit]
Description=__APP__ real-time
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
EnvironmentFile=__FINALPATH__/variables.env
ExecStart=__YNH_NODE__ __FINALPATH__/live/services/real-time/app.js
StandardOutput=append:/var/log/__APP__/real-time.log
StandardError=inherit
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
